# === FICHIERS DE COMPILATION ARDUINO ===
*.elf
*.hex
*.bin
*.out
*.o
*.d
*.a
*.map
*.eep

# === FICHIERS TEMPORAIRES D'ÉDITEURS ===
*.swp
*.bak
*.tmp
*.log
*.DS_Store
*.orig
*.sublime-workspace
*.sublime-project
.vscode/
.idea/

# === DOSSIERS TEMPORAIRES DE COMPILATION ===
build/
.pio/
.arduino/

# === PLATFORMIO ===
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# === PYTHON / AUTRES ===
*.pyc
__pycache__/
Thumbs.db

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
